<div class="flex items-center space-x-4">
    <label for="darkModeToggle" class="relative cursor-pointer">
        <input type="checkbox" id="darkModeToggle" class="sr-only">
        <div class="w-12 h-6 bg-gray-700 dark:bg-gray-800 rounded-full flex items-center justify-center relative overflow-hidden transition-colors duration-300">
            <!-- Sun Icon (left) -->
            <svg id="sunIcon"
                 class="w-4 h-4 text-yellow-300 absolute left-1 transition-all duration-300 hidden"
                 xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                 viewBox="0 0 24 24">
                <path d="M12 4.75a.75.75 0 01.75-.75h.5a.75.75 0 010 1.5h-.5A.75.75 0 0112 4.75zm0 13a.75.75 0 01.75-.75h.5a.75.75 0 010 1.5h-.5a.75.75 0 01-.75-.75zM4.75 12a.75.75 0 01-.75-.75v-.5a.75.75 0 011.5 0v.5a.75.75 0 01-.75.75zm13 0a.75.75 0 01-.75-.75v-.5a.75.75 0 011.5 0v.5a.75.75 0 01-.75.75zM6.364 6.364a.75.75 0 011.06 0l.354.353a.75.75 0 01-1.06 1.06l-.354-.353a.75.75 0 010-1.06zm10.606 10.606a.75.75 0 011.06 0l.354.353a.75.75 0 01-1.06 1.06l-.354-.353a.75.75 0 010-1.06zM6.364 17.636a.75.75 0 010-1.06l.353-.354a.75.75 0 011.06 1.06l-.353.354a.75.75 0 01-1.06 0zm10.606-10.606a.75.75 0 010-1.06l.353-.353a.75.75 0 111.06 1.06l-.353.353a.75.75 0 01-1.06 0zM12 7a5 5 0 100 10 5 5 0 000-10z" />
            </svg>
            <!-- Moon Icon (right) -->
            <svg id="moonIcon"
                 class="w-4 h-4 text-gray-100 absolute right-1 transition-all duration-300 hidden"
                 xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                 viewBox="0 0 24 24">
                <path d="M21 12.79A9 9 0 0112.21 3a7 7 0 000 14 9 9 0 008.79-4.21z" />
            </svg>
        </div>
    </label>
</div>